.App {
  text-align: center;
  min-height: 100vh;
  transition: background-color 0.3s, color 0.3s;
}

.dark {
  color: white;
  background-color: black;
}

.light {
  color: black;
  background-color: white;
}

.main {
  width: 80%;
  margin: 80px auto;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 0 60px rgba(1, 134, 251, 0.638);
}

.content {
  width: 100%;
  /* max-width: 800px; */
  text-align: left;
}
p {
  margin: 10px 0;
  line-height: 1.5;
  font-size: 16px;
}
